
/* Element Defaults
----------------------------------------------- */

.tdTop{
    vertical-align: top;
}

.noWrap{
    white-space: nowrap;
}

.noMargin{
    margin: 0px;
    border-collapse: collapse;
}

.colsNoWrap{
    vertical-align: top;
    white-space: nowrap;
}

.table-no-header thead {
    display: none;
}

.table-no-header tr{
	border-left: none !important;
	border-right: none !important;
	border-left-color: white!important;
	border-right-color:  white!important;
	
}